<div class="justify-center" id="dashboard">
    <div class="card bg-dark d-flex mx-auto text-center border border-3 border-secondary" style="width: 18rem;" id="main-request">
        <a class="text-secondary text-decoration-none" href="/requests">
            <p>Create Maintenance Request</p>
        </a>
    </div>

    <div class="card d-flex mx-auto" style="width: 18rem;">
        {{#each requests as |request|}}
        <div class="card-body">
            <h1 class="card-title">{{request.property.address_line1}}</h1>
            <p class="card-title"><b>Bedrooms:</b>{{request.property.bedrooms}}</p>
            <p class="card-title"><b>Bathrooms:</b>{{request.property.bathrooms}}</p>
            <p class="card-title"><b>Rent:</b>{{request.property.rent}}</p>
            <p class="card-title"><b>Square Feet:</b>{{request.property.sq_ft}}</p>
            <p class="card-text">
                <b>Address:</b><br>{{request.property.address_line1}}</br><br>{{request.property.address_line2}}</br><br>{{request.property.zip_code}}</br>
            </p>
            <p class="card-title"><b>City:</b>{{request.property.city}}</p>
            <p class="card-title"><b>State:</b>{{request.property.state}}</p>
            <p class="card-title"><b>County:</b>{{request.property.county}}</p>
            <p class="card-text"><b>Message:</b>{{request.request_message}}</p>
        </div>
        <div>
            <button type="submit" class="btn">View Property</button>
        </div>
        {{/each}}
    </div>

</div>



<script src="/javascript/logout.js"></script>