

<div class="banner d-flex align-items-center" id="banner">
    <div class="container">
        <div style="padding: 40px; " class="col-md-12">
            <h1 class="text-center text-secondary">Bootcamp Real Estate</h1>
        </div>
    </div>
</div>




{{#if loggedIn}}
<div class="card" style="width: 18rem;">
    {{property}}
    
    <div class="card-body">
        {{!-- <h1 class="card-title">{{property.name}}</h1> --}}
        <p class="card-title"><b>Bedrooms:</b>{{ property.bedrooms}}</p>
        <p class="card-title"><b>Bathrooms:</b>{{this.bathrooms}}</p>
        <p class="card-title"><b>Rent:</b>{{property.rent}}</p>
        <p class="card-title"><b>Square Feet:</b>{{this.sq_ft}}</p>
        <p class="card-text">
            <b>Address:</b><br>{{this.address_line1}}</br><br>{{this.address_line2}}</br><br>{{this.zip_code}}</br>
        </p>
        <p class="card-title"><b>City:</b>{{this.city}}</p>
        <p class="card-title"><b>State:</b>{{this.state}}</p>
        <p class="card-title"><b>County:</b>{{this.county}}</p>
    </div>
    <div>
        <button type="submit" class="btn">view property</button>
    </div>
    {{!-- {{/each}} --}}
</div>
{{/if}}