<div class="container">
    <div>
        <h2>{{property.name}}</h2>
    </div>
    <div>
        <img src="" alt="">
    </div>
    <div>
        <h2>Details</h2>
        <ul>
            <li><b>Address:</b><br>{{property.address_line1}}</br><br>{{property.address_line2}}</br><br>{{property.zip_code}}</br></li>
            <li><b>Rent:</b>{{property.rent}}</li>
            <li><b>Bedrooms:</b>{{property.bedrooms}}</li>
            <li><b>Bathrooms:</b>{{property.bathrooms}}</li>
            <li><b>Square Feet:</b>{{property.sq_ft}}</li>
            <li><b>City:</b>{{property.city}}</li>
            <li><b>State:</b>{{property.state}}</li>
            <li><b>County:</b>{{property.county}}</li>
            <li><b>Owner:</b>{{property.owner}}</li>
        </ul>
    </div>
</div>